<h1>Listado de Personajes</h1>
<hr>
<p class="lead">Aquí se mostraría la tabla con todos los Superhéroes obtenidos desde el servidor Express. En este ejemplo, solo simulamos el contenido.</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Editorial</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Spider-Man</td>
            <td>Marvel</td>
            <td><a href="#" class="btn btn-sm btn-info">Ver Detalle</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Wonder Woman</td>
            <td>DC Comics</td>
            <td><a href="#" class="btn btn-sm btn-info">Ver Detalle</a></td>
        </tr>
    </tbody>
</table>